{% extends "base.html" %}
{% load static %}
{% block content %}


    <article>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-4">{{post.title}}</h1>
                <div class="meta mb-4 text-muted">
                    Posted by {{post.user.username}} on {{post.dateCreated}}
                </div>
                <img src="{% static 'images/'|add:post.image_name %}" width="600" class="img-fluid mb-4" alt="Featured image">
                <div class="content">
                    <p>{{post.text}}</p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}