{% extends "base.html" %}
{% block content %}
{% load static %}

    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="post/{{post.id}}"> <img src="{{'media/'|add:post.image}}" class="card-img-top" alt="{{post.image}}"></a> <!-- ??? doesn't work by doing "post.image.url" -->
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text text-muted small">
                            Posted by {{post.user.username}} on {{post.dateCreated}}
                        </p>
                        <p class="card-text">
                            {{post.text|truncatechars:223}}
                        </p>
                        <a href="post/{{post.id}}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user.is_superuser %}
        <a href="new_post" class="btn btn-primary floating-button form-sub  cmit">Create New Post</a>
    {% endif %}
{% endblock %}