{% extends "base.html" %}
{% block content %}
{% load static %}
{% load markdownify %}

    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if post.image %}
                        <a href="{% url 'post-details' postid=post.id slug=post.slug %}"> <img src="{{post.image.url}}" class="card-img-top" alt="{{post.image}}"></a>
                    {% else %}
                        <a href="{% url 'post-details' postid=post.id slug=post.slug %}"> <img src="/media/placeholder.jpg" class="card-img-top" alt="{{post.image}}"></a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text text-muted small">
                            {% if post.user.profile.profile_picture %}
                                <img src="{{ post.user.profile.profile_picture.url }}" width="30" height="30" class="rounded-circle me-2" alt="Profile Picture">
                            {% else %}
                                <img src="/media/no_profile_picture.jpg" width="30" height="30" class="rounded-circle me-2" alt="Default Profile Picture">
                            {% endif %}
                                Posted by <a href="{% url 'profile-page' userid=post.user.id %}">{{post.user.username}}</a> on {{post.dateCreated|date:"F j, Y H:i"}}
                        </p>
                        <p class="card-text">
                            {{post.text|markdownify|truncatechars:223}}
                        </p>
                        <a href="{% url 'post-details' postid=post.id slug=post.slug %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if user.is_superuser %}
        <a href="new_post" class="btn btn-primary floating-button form-sub  cmit">Create New Post</a>
    {% endif %}
    <!-- Dynamic Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <!-- Previous Button -->
        {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{% url 'index' %}?page={{ current_page|add:'-1' }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
            </li>
        {% endif %}

        <!-- Pagination -->
        {% for page in pagination %}
            {% if page == "..." %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% else %}
                <li class="page-item {% if current_page == page %}active{% endif %}" ><a class="page-link" href="{% url 'index' %}?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}

        <!-- Next Button -->
        {% if current_page != max_page %}
            <li class="page-item">
                <a class="page-link" href="{% url 'index' %}?page={{ current_page|add:'1' }}" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}