{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow-lg border-0 rounded-lg mt-5 register-card">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
            <div class="card-body">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <br>
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <br>
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">Already have an account? <a href="{% url 'login' %}">Log in instead</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}